@using SONTM.WEB.Entities;
@model ApplicationUser
@{
    var guid = Guid.NewGuid().ToString("N");
    var roleList = ViewBag.RoleList;
}
<form method="post" action="add">
    <input type="hidden" name="Id" value="@guid" />
    <div class="form-group mb-2">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <label>Chọn vai trò</label>
    @if (roleList != null && roleList.Count > 0)
    {
        var index = 0;
        @foreach (var role in roleList)
        {
            bool selected = role.IsSelected;
            <div class="form-check">
                @Html.CheckBox($"Roles[{index}].IsSelected")
                <input type="hidden" name="Roles[@index].Id" value="@role.Id"/>
                <input type="hidden" name="Roles[@index].Code" value="@role.Code" />
                <input type="hidden" name="Roles[@index].Name" value="@role.Name" />
                <label class="form-check-label ml-2">@role.Code</label>
            </div>
            index++;
        }
    }

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Tạo tài khoản" />
    </div>
</form>